.container-carteira {
    color: #fff;
    max-width: 1300px;
    margin:  auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.conteudo-carteira {
    padding: 3rem;
    border-left: 1px solid #fff;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.conteudo-carteira h1 {
    font-size: 2.5rem;
}

.conteudo-carteira p {
    font-size: 1rem;
}

.descricao-grafico {
    padding: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    background-color: #090909;
    border-radius: 2rem;
}

.descricao-grafico h1 {
    font-size: 2.5rem;
}

.descricao-grafico p {
    width: 50ch;
}

.conteudo-grafico {
    padding: 3rem;
    background-color: #101010;
    border: 2px solid #111;

    border-radius: 2rem;
}

.conteudo-grafico img {
    border-radius: 1rem;
}

