header {
    max-width: 1400PX;
    margin: auto;
}

.header-container {
    background-color: #000;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;  
    padding: 1.3rem .5rem;
    justify-content: space-around;
    align-items: center;
    z-index: 999;
}

.navegacao {
    display: flex;
    align-items: center;
}

.itens-navegacao {
    display: flex;
    flex-wrap: wrap;
}

.itens-navegacao a{
    color: #808080;
    position: relative;
    margin: 0 1.3rem;
    display: flex;
    flex-wrap: wrap;
}

.itens-navegacao a:hover {
    color: #fff;
    transition: .2s;
}

.itens-navegacao a::after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background-color: #00FF08;
    margin-top: 1.4rem;
    transition: .5s;
    position: absolute;
}

.itens-navegacao a:hover:after {
    width: 100%;
}

.contato {
    background-color: #00FF00;
    color: #111;
    padding: .5rem 1.5rem;
    border-radius: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

.contato:hover {
    background-color: #228B22;
}