.conteudo{
    margin-top: 7rem;
}

.astronauta{
    border-radius: 50px 16px 50px 16px;
}

.link-main {
    text-transform: uppercase;
    background-color: #00FF08;
    color: #111;
    padding: 1rem 1.5rem;
    font-weight: 600;
    border-radius: 1rem;    
    width: fit-content;
}

.link-main:hover {
    background-color: #228B22;
}

.conteudo-1 span {
    color: #00FF08;
}

.conteudo-2 img {
    border-radius: 50px 5px 50px 5px;
    width: 80%;
}

.linha-vertical{
    border-right: 1px solid #fff;
}

.descricao-grafico{
    max-width: 60ch;
}