.sectionQuemSomos {
    margin: 2rem 0 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.descricaoQuemSomos {
    max-width: 70ch;
    margin: 2rem;
    display: flex;
    line-height: 1.375;
    font-size: 1rem;
}

.swiper {
    margin-bottom: 3rem;
}

.swiper-slide {
    margin-bottom: 2rem; 
} 

.project-img{
    display: flex;
    justify-content: center;
}


.descricaoProfile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.descricaoProfile p {
    max-width: 60ch;
    font-size: 1rem;
    line-height: 1.225;
    text-align: start;
    margin: 0 .7rem 1rem .7rem;
}

.name-member {
    position: relative;
    transition: color 2s;
    color: #fff;
    padding: 1rem;
    margin: .75em;
}

.name-member:hover {
    color: #000;
}

.name-member .icon {
    display: inline-block;
    margin-right: 5px;
    transform: translateX(-100%);
    transition: transform 2s;
}

.name-member:hover .icon {
    transform: translateX(0);
}

.name-member::after {
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    background: aqua;
    width: 5px;
    transition: width 1s, right 1s;
    z-index: -1;
    border-radius: 6px;
}

.name-member:hover::after {
    max-width: 100%;
    right: 0;
}

.footer{
    text-align: center;
    border-top: 1px solid #fff;
    padding: 1rem .5rem;
}