#resultados{
    margin-top: 7rem;
}

.description-result{
    padding: 1.5rem;
    display: flex;
    background-color: orange;
    border-radius: 1rem;
    font-size: 1.8rem !important;
}

.description2{
    padding: 1.5rem;
    display: flex;
    background-color: rgb(2, 202, 2);
    border-radius: 1rem;
    text-align: justify;
    font-size: 1.8rem !important;
}